
@import '../../../styles/fonts.scss';

.frame100-container {
  display: grid;
  grid-template-columns: 50% 50%;
  background: linear-gradient(180deg, #FFE600, #FFAC00);
}

.frame100-image {
  height: 100%;
  width: auto;
}

.frame100-image-mobile {
  display: none;
}

/* Media query for mobile view */
@media (max-width: 500px) {
  .frame100-image {
    display: none;
  }

  .frame100-image-mobile {
    display: flex;
  }

  .column-center {
    justify-content: flex-start;
    margin-left: -50px;
  }

  .column-center {
    justify-content: flex-start;
    margin-left: -0px !important;
  }

  .blackTextMobile {
    font-family: 'AmsiProCond-Ultra', sans-serif;
  font-size: 50px !important;
  line-height: 45.5px;
  color: #000000;
  }
  
  .fridayTextMobile {
    font-family: 'AmsiProCond-Ultra', sans-serif;
  font-size: 50px;
  line-height: 45.5px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  }

  
 .lastDaysText {
   display: none !important;
 }

 .column-center {
  display: flex;
  flex-direction: column !important;
}

.text-line {
  flex-direction: column !important;
}

.frameTopLeftMobile {
  position: absolute !important;
  left: 0;
  top: 0;
  display: flex !important;
}

.coundownImg {
  margin-top: 25px;
}
}



.frameTopLeftMobile {
  display: none;
}

.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 250px;
}

.text-line {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.blackText {
  font-family: 'AmsiProCond-Ultra', sans-serif;
  font-size: 50px;
  line-height: 45.5px;
  color: #000000;
}

.fridayText {
  font-family: 'AmsiProCond-Ultra', sans-serif;
  font-size: 50px;
  line-height: 45.5px;
  color: #000000;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
}

.blackTextMobile {
  display: none;
}

.fridayTextMobile {
  display: none;
}

.lastDaysText {
  font-family: 'AmsiProCond-Ultra', sans-serif;
  font-size: 17.94px;
  line-height: 17.94px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  position: relative;
  display: inline-flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border-radius: 9px;
  background-color: #000000;
  gap: 10px;
}



