// .frame100Carousel-container {
//   display: grid;
//   grid-template-columns: 0.5fr 1fr 1fr;
//   grid-gap: 10px;
//   align-items: center;
//   margin-top: -80px;
// }

.column-Carousel {
  flex: 1; /* Distribute the available space equally among the columns */
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top: -80px;
}

.column-left {
  display: flex;
  flex-direction: row;
}

.column-left-image {
  margin-left: 200px;
}

.column-right {
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-content: center;
}

.discount-price {
  font-family: "Amsi Pro Condensed", sans-serif;
  font-size: 24px;
  line-height: 14.4px;
  color: rgba(255, 230, 0, 1);
  text-align: center;
  display: inline-flex;
  align-items: center;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 1);
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
  gap: 10px;
  height: 15px;
  width: 50px;
}

.product-category {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 21.79px;
  color: rgba(57, 57, 56, 1);
}

.product-brand {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 24px;
  color: rgba(57, 57, 56, 1);
}

.product-name {
  font-family: "Open Sans", sans-serif;
  white-space: nowrap;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(57, 57, 56, 1);
}

.column-right-text-line {
  display: flex;
  padding-top: 15px;
}


.center-container {
  display: flex;
  align-items: center;
}

.product-oldPrice {
  font-size: 18px;
  line-height: 24.51px;
  font-weight: 400;
  color: rgba(57, 57, 56, 1);
  text-decoration: line-through;
  padding-top: 6px;
  padding-right: 8px;
}

.product-newPrice {
  font-size: 28px;
  line-height: 33px;
  font-weight: 700;
  color: rgba(227, 6, 19, 1);
}

.buy-button {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  width: 97px;
  height: 41px;
  border-radius: 26px;
  gap: 10px;
  background: rgba(22, 65, 148, 1);
  border: none;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.5s ease;
}

.buy-button:hover {
  background: rgb(54, 87, 158);
}

.frame100Carousel-scroll-button-right {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 19.07px;
  text-align: center;
  color: rgba(22, 65, 148, 1);
  width: 70px;
  height: 70px;
  padding: 16px 22px;
  border-radius: 50%;
  gap: 10px;
  background: rgba(255, 255, 255, 1);
  border: none;
  margin-top: 30px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1575);
  cursor: pointer;
  transform: translateY(200%);

}

.frame100Carousel-scroll-button-left {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 19.07px;
  text-align: center;
  color: rgba(22, 65, 148, 1);
  width: 70px;
  height: 70px;
  padding: 16px 22px;
  border-radius: 50%;
  gap: 10px;
  background: rgba(255, 255, 255, 1);
  border: none;
  margin-top: 30px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.1575);
  cursor: pointer;
  // position: absolute;
  align-items: center;  
  text-align: center;
  transform: translateY(200%);
}




.frameCarousel-images-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 160%;
}


.parent-container {
  display: grid;
  grid-template-columns: 20% 60% 20%;
  margin-top: -4.5%;

}

.column-1 {
  display: grid;
  transform: translateX(100%);
}

.column-2 {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
  gap: 10%;
}

.sub-column {
  text-align: left;
}