@font-face {
  font-family: 'AmsiProCond-Ultra';
  src: url('../fonts/AmsiProCond-Ultra.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Amsi Pro Condensed';
  src: url('../fonts/AmsiProCondensed-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}