.selection-container {
  position: relative;
  width: 100%;
  height: auto;
  background: linear-gradient(180deg, #ffe600, #ffac00);
}

.selection-container-blackFridayFrame {
  position: absolute;
  right: 0;
  top: 0;
}
