.navbar-container {
  background-color: rgba(246, 245, 243, 1);
  overflow-x: auto;
  white-space: nowrap;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-scroll {
  display: flex;
}

.navbar-item {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: rgba(57, 57, 56, 1);
  padding: 20px 5px;
  cursor: pointer;
  position: relative;
}

.navbar-item:not(:last-child) {
  margin-right: 60px;
}

.navbar-item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(59, 59, 60, 1);
}

/* Media query for mobile view */
@media (max-width: 600px) {
  .navbar-scroll {
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .navbar-item {
    margin-right: 10px;
  }
}
