.catalogue-container {
  position: relative;
  width: 100%;
  height: 210px;
  background: linear-gradient(180deg, #ffe600, #ffac00);
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide the container into two equal columns */
  grid-gap: 10px; /* Add some gap between the columns */
}

.catalogue-container-empty {
  width: 100%;
  height: 143px;
  background-color: rgb(242,242,242);
}


.catalogue-container-blackFridayFrame {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}


.catalogue-container-catalogueImage {
  position: absolute;
  bottom: 0;
  z-index: 4;
  margin-left: 400px;
}

.catalogue-groupeText {
  position: absolute;
  top: 0;
  z-index: 4;
  margin-left: 900px;
  text-align: center;
  
}


.catalogue-catalogueText {
  font-family: 'AmsiProCond-SemiBoldItalic', sans-serif;
  font-size: 60px;
  line-height: 70.31px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  color: rgba(0, 0, 0, 1);
}

.catalogue-catalogueTextWhite {
  font-family: 'AmsiProCond-SemiBoldItalic', sans-serif;
  font-size: 60px;
  line-height: 70.31px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 20px;
  color: rgba(246, 245, 243, 1);
  margin-left: 30px;
}


.catalogue-blackText {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  line-height: 19.07px;
  font-weight: 600;
}

.catalogue-button-discover{
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19.07px;
  color: rgba(57, 57, 56, 1);
  width: 85px;
  height: 47px;
  border-radius: 26px;
  gap: 10px;
  background: transparent;
  border: 1px solid rgba(57, 57, 56, 1);
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 16px, 22px, 16px, 22px
  ;
}