.sport-container {
  position: relative;
  width: 100%;
  height: 500px;
  background: linear-gradient(180deg, #ffe600, #ffac00);
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.sport-main-container {
  background: #f2f2f2;
  height: 900px;
}

.sports-blackText {
  font-family: "AmsiProCond-Ultra", sans-serif;
  font-size: 50px;
  line-height: 50px;
  text-transform: uppercase;
  margin-left: -440px;
}

.sports-Left-Column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sports-outlinedText {
  font-family: "AmsiProCond-Ultra", sans-serif;
  font-size: 50px;
  line-height: 50px;
  color: #000000;
  text-transform: uppercase;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000000;
  margin-left: -310px;
}

.sports-exclusivityText {
  font-family: "AmsiProCond-SemiBoldItalic", sans-serif;
  font-size: 23px;
  line-height: 23px;
  text-transform: uppercase;
  margin-left: -520px;
  margin-bottom: 5px;
  margin-top: -150px;
}

.sports-container-blackFridayFrameRightButtom {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.sport-image {
  margin-bottom: 40px;
  margin-right: 40px;
}

.sports-container-selectionBackgroundImage {
  z-index: 1;
  margin-top: 130px;
  margin-left: 10px;
  width: 65%;
  height: 65%;
}

.sport-scroll-button {
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 19.07px;
  text-align: center;
  color: #164194;
  width: 70px;
  height: 70px;
  padding: 16px 22px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  position: absolute;
  right: 0;
  margin-top: 150px;
  transform: translateX(-750%);
}

.sport-images-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 400%;
}

.sport-carousel {
  position: relative;
  height: 400;
  margin-top: -120px;
  margin-left: 10%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* Media query for mobile view */
@media (min-width: 500px) {
  .sports-FrameTopBrandMobileLeft {
    display: none;
  }
}

/* Media query for mobile view */
@media (max-width: 500px) {
  .sports-container-blackFridayFrameRightButtom {
    display: none;
  }
  .sports-FrameTopBrandMobileLeft {
    position: absolute !important;
    left: 0;
    top: 0;
    z-index: 2;
  }
  .sports-container-selectionBackgroundImage {
    display: none;
  }
  .sports-Left-Column {
    display: inline-block;
  }
  .sports-exclusivityText {
    margin-top: 150px;
    margin-left: 20px;
  }
  .sports-blackText {
    margin-left: 20px;
    white-space: nowrap;
  }
  .sports-outlinedText {
    margin-left: 20px;
    white-space: nowrap;
  }
  .sport-container {
    height: 350px;
  }
  .sport-carousel {
    margin-left: 20px;
    margin-top: -10px;
  }
  .sport-main-container {
    height: 720px;
  }
  .sport-scroll-button {
    margin-top: 160px;
    transform: translateX(-80%);
  }
  .sport-images-container {
    width: 500%;
  }
}
